body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.MuiFormControl-root .MuiGrid-align-items-xs-center {
  align-items: start;
}
.MuiFormControl-root .MuiGrid-item .MuiButton-root {
  display: block;
}

.MuiPaper-elevation1,
.MuiPaper-elevation2 {
  box-shadow: none !important;
  border: 1px solid #ddd;
}
